.QuoteOfTheDay {
  text-align: center;
  margin: auto 0px;
  width: 100%;
}

h1 {
  text-align: center;
  display: block;
  margin: auto 30px;
}

h3 {
  text-align: center;
  display: block;
  margin: auto 30px;
}

h4 {
  color: #303030;
  text-align: center;
  margin: auto 30px;
  display: block;
}
